html {
    box-sizing: border-box;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

.hlavicka {
    color: var(--hlavni-barva);
    text-align: center;
}

.hlavicka__logo {
    width: 170px;
    height: auto;
    margin: 1rem;
}

.hlavicka__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
}

.hlavicka__menu__polozka {
    text-decoration: none;
    color: var(--hlavni-barva);
    width: calc(1/3 * 100%);
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hlavicka__menu__polozka:hover,
.hlavicka__menu__polozka:focus {
    background-color: var(--hlavni-barva);
    color: white;
}

@media (min-width: 650px) {
    .hlavicka {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0;
    }
    .hlavicka__menu {
        margin-bottom: 0;
        width: calc(2/3 * 100%);
        font-size: 1rem;
    }
    .hlavicka__menu__polozka {
        height: 3rem;
    }
    .hlavicka__logo {
        width: 230px;
        height: auto;
    }
}