html {
    box-sizing: border-box;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

.nabidka {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1.4fr 1.4fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.nabidka__zajezd--palmy {
    background-image: linear-gradient(hsla(0 0% 0% / 0.3), hsla(0 0% 0% / 0.3)), url("podklady/palmy.jpg");
    aspect-ratio: 766/380;
}

.nabidka__zajezd--jezero {
    background-image: url("podklady/jezero.jpg");
}

.nabidka__zajezd--kolo {
    background-image: url("podklady/nakole.jpg");
}

.nabidka__zajezd--lodicka {
    background-image: url("podklady/lodicka.jpg");
    aspect-ratio: 766/380;
    grid-row: 1;
}

.nabidka__zajezd--kanon {
    background-image: url("podklady/podkova.jpg");
}

.nabidka__zajezd--ostrovy {
    background-image: url("podklady/zatoka.jpg");
}

.nabidka__zajezd {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
    padding: 0 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nabidka__zajezd__cena {
    color: white;
    background-color: var(--hlavni-barva);
    display: inline-block;
    padding: 0.5rem;
    margin-right: auto;
}

.nabidka__zajezd__titulka,
.nabidka__zajezd__popis {
    color: white;
}

.nabidka__zajezd--hlavni {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nabidka__zajezd--hlavni>.nabidka__zajezd__titulka {
    font-size: 1.5rem;
    margin: 0;
}

.nabidka__zajezd--hlavni>.nabidka__zajezd__popis {
    font-size: 0.8rem;
    font-weight: 300;
}